.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

table {
  td th {
    border: 2px solid;
  }
}

.relatedSectionOfNumbers {
  border: 2px solid grey;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  width: 400px;

}

td {
  padding-right: 4px;
  border: 4px;
}

.column-heading {
  text-align: right;
  font-weight: bold;
  font-size: 13px;
}

.column-data {
  text-align: left;
  font-size: 10px;
  white-space: nowrap;
}

.minor-column-heading {
  text-align: right;
  font-weight: 400;
  font-size: 10px;
}

.minor-data {
  font-weight: 200;
  font-style: italic;
  font-size: 9px;
}

.moneyInput {
    text-align: left;
    border: 2px solid grey;
    width: 80px;
}

.percentageInput {
  width: 40px;
  border: 2px solid grey;
}

.sideBySideColumn {
  float: left;
  display: inline-block;
}
